force-app/main/default/flows/SP_FLow_create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Deadline_Valid</name>
        <label>Is Deadline Valid?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Installation_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deadline_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Scheduled_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Branch_Screen_Invalid_Date_Range</targetReference>
            </connector>
            <label>Invalid Date</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountRecord</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <sortField>Active__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_RegionalManagers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>UserRoleId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Installation__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>for_IsOverdueRisk</name>
        <dataType>Boolean</dataType>
        <expression>{!Deadline_Date} &lt; ($Flow.CurrentDate + 30)</expression>
    </formulas>
    <interviewLabel>SP_SolarPulse Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SP_FLow_create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Installation_Project</name>
        <label>Create Installation Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Accounts.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Manager__c</field>
            <value>
                <elementReference>Assigned_Manager.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Value__c</field>
            <value>
                <elementReference>Contract_Valuen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deadline_Date__c</field>
            <value>
                <elementReference>Deadline_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Panel_Count__c</field>
            <value>
                <elementReference>Panel_Countn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Pick_Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
            <value>
                <elementReference>Scheduled_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Installation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Error_Branch_Screen_Invalid_Date_Range</name>
        <label>Error Branch Screen — Invalid Date Range</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back to Step 2</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Installation_Details</targetReference>
        </connector>
        <fields>
            <name>dt_ValidationErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(240, 1, 1); font-family: serif; font-size: 16px;&quot;&gt;Deadline Date must be on or after the Scheduled Date. Please go back and correct it&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Installation_Details</targetReference>
        </connector>
        <fields>
            <name>Accounts</name>
            <choiceReferences>AccountRecord</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Accounts</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>select account</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <styleSettings>
                    <propertyName>--slds-c-input-color-background</propertyName>
                    <propertyValue>
                        <stringValue>#59F0F0</stringValue>
                    </propertyValue>
                </styleSettings>
                <styleSettings>
                    <propertyName>--slds-c-input-color-border</propertyName>
                    <propertyValue>
                        <stringValue>#B02B2B</stringValue>
                    </propertyValue>
                </styleSettings>
                <styleSettings>
                    <propertyName>--slds-c-input-text-color</propertyName>
                    <propertyValue>
                        <stringValue>#000000</stringValue>
                    </propertyValue>
                </styleSettings>
                <styleSettings>
                    <propertyName>--slds-c-input-text-color-focus</propertyName>
                    <propertyValue>
                        <stringValue>#EDC2C2</stringValue>
                    </propertyValue>
                </styleSettings>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Installation_Details</name>
        <label>Installation Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Region_Manager</targetReference>
        </connector>
        <fields>
            <name>Scheduled_Date</name>
            <dataType>Date</dataType>
            <fieldText>Scheduled Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Deadline_Date</name>
            <dataType>Date</dataType>
            <fieldText>Deadline Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Panel_Countn</name>
            <dataType>Number</dataType>
            <fieldText>Panel Count</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contract_Valuen</name>
            <dataType>Currency</dataType>
            <fieldText>Contract Value</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Region_Manager</name>
        <label>Region &amp; Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Review_Submit_Reactive</targetReference>
        </connector>
        <fields>
            <name>Pick_Region</name>
            <choiceReferences>Region</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Region</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Assigned_Manager</name>
            <choiceReferences>rcs_RegionalManagers</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Assigned Manager</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Submit_Reactive</name>
        <label>Review &amp; Submit (Reactive)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Is_Deadline_Valid</targetReference>
        </connector>
        <fields>
            <name>dt_AccountSummarys</name>
            <fieldText>&lt;p&gt;Account: {!Accounts}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_DatesSummarys</name>
            <fieldText>&lt;p&gt;Scheduled Date → Deadline Date: {!Scheduled_Date} → {!Deadline_Date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_MetricsSummary</name>
            <fieldText>&lt;p&gt;Panel Count / Contract Value: {!Panel_Countn} panels / {!Contract_Valuen}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_RegionManagerSummarys</name>
            <fieldText>&lt;p&gt;Region / Manager: {!Pick_Region} / {!rcs_RegionalManagers}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_OverdueRiskBadges</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;🔴 OVERDUE RISK — Deadline is within 30 days&lt;/strong&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>for_IsOverdueRisk</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountToLook</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
