force-app/main/default/flows/SP_SolarPulse_Asset_Onboarding_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Decision_Element_Premium_Tier_Check</name>
        <label>Decision Element (Premium Tier Check)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_Premium</defaultConnectorLabel>
        <rules>
            <name>Yes_Premium</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Total_Panel_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InstallationReccord.Contract_Value__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>150000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Premium_Tier_Screen</targetReference>
            </connector>
            <label>Yes_Premium</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Completed_installations_appear</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Installation__c</object>
        <valueField>Account__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Completedinstallationsappear</name>
        <dataType>Number</dataType>
        <displayField>Panel_Count__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Installation__c</object>
        <valueField>Panel_Count__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarPanelModel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Panel_Model__c</picklistField>
        <picklistObject>Installation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Sp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SP_SolarPulse_Asset_Onboarding_Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>As a SolarPulse operations user (e.g., deployment engineer or asset manager),
I want to onboard new assets immediately after a technical installation has been marked as completed,
So that inventory logs, premium tier agreements, and notifications are initialized seamlessly without manual intervention.</description>
        <name>Asset</name>
        <label>Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>notification_Router_Subflow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessageCheck</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contract_Value_c__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Deadline_Date_c__c</field>
            <value>
                <elementReference>InstallationReccord.Deadline_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>InstallationReccord.Solar_Panel_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solar_Panel_Model__c</field>
            <value>
                <elementReference>Solar_Panel_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Panel_Count_c__c</field>
            <value>
                <elementReference>InstallationReccord.Panel_Count__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>InstallationReccord</name>
        <label>InstallationReccord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Select_Installation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordidd</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Installation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Asset_Specs</name>
        <label>Asset Specs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Element_Premium_Tier_Check</targetReference>
        </connector>
        <fields>
            <name>Solar_Panel_Model</name>
            <choiceReferences>SolarPanelModel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Solar Panel Model</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_Panel_Count</name>
            <dataType>Number</dataType>
            <fieldText>Total Panel Count</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(234, 4, 4); font-family: serif;&quot;&gt;Panel count must be greater than 0&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Total_Panel_Count} &gt;= 1</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMessageCheck</name>
        <label>errorMessageCheck</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(224, 14, 14);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(228, 13, 13);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Premium_Tier_Screen</name>
        <label>Premium Tier Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_Summary</targetReference>
        </connector>
        <fields>
            <name>Preemptive_Thermal_Imaging_c</name>
            <dataType>Boolean</dataType>
            <fieldText>Preemptive_Thermal_Imaging__c:</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;strong style=&quot;color: rgb(218, 27, 247);&quot;&gt;Quarterly infrared drone scans to detect panel hotspots before cell degradation occurs.&lt;/strong&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Inverter_Performance_Guarantee_c</name>
            <dataType>Boolean</dataType>
            <fieldText>Inverter_Performance_Guarantee__c</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;em&gt;Guaranteed inverter replacement within 24 hours of telemetry fault signals, minimizing downtime loss.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Priority_Dispatch_247_c</name>
            <dataType>Boolean</dataType>
            <fieldText>Priority_Dispatch_247__c</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;strong&gt;Around-the-clock emergency field service routing with a maximum 4-hour on-site response window.&lt;/strong&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Degradation_Offset_Coverage_c</name>
            <dataType>Boolean</dataType>
            <fieldText>Degradation_Offset_Coverage__c</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;Supplemental coverage that compensates the client financially if panel efficiency falls below the premium annual baseline.&lt;/strong&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Installation</name>
        <label>Screen_Select_Installation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asset_Specs</targetReference>
        </connector>
        <fields>
            <name>Record_Choice_Set</name>
            <choiceReferences>Completed_installations_appear</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Record Choice Set</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Summary</name>
        <label>Screen_Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asset</targetReference>
        </connector>
        <fields>
            <name>Model</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(35, 104, 215); font-family: serif;&quot;&gt;Solar Panel Model :  &lt;/strong&gt;{!Solar_Panel_Model}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Warning_Indicator</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(212, 24, 24);&quot;&gt;&lt;em&gt;Days are Less , Please do it fast&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(212, 24, 24);&quot;&gt;&lt;em&gt;only &lt;/em&gt;{!InstallationReccord.Days_to_Deadline__c}&lt;/strong&gt;&lt;span style=&quot;color: rgb(212, 24, 24);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(212, 24, 24);&quot;&gt;&lt;em&gt;left&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>InstallationReccord.Days_to_Deadline__c</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>31.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InstallationReccord</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>notification_Router_Subflow</name>
        <label>notification Router Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SP_NotificationRouter</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordidd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
